.footer {
    width: 100%;
    margin-top: 3rem;
}

.footer_description {
    margin-top: 2rem;
}

.square {
    width: 150px;
    height: 10px;
    border-radius: 25px;
    background: rgb(255, 221, 225);
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
}